# Postgres's initialization data
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cherry_auctions

# The database URL to map to Postgres, change it if you use RDS or Neon
DATABASE_URL=postgresql://postgres:postgres@cherry-auctions-postgres:5432/cherry_auctions

# CORS-related configurations for backend. See CORS headers on MDN for more info.
CORS_ORIGINS=http://localhost:5173
CORS_METHODS=HEAD,GET,POST,PUT,PATCH,DELETE
CORS_HEADERS=Content-Type,Accept

# Secret key to sign JWT access tokens with, refresh tokens are opaque. Use jwtsecrets.com (256 bytes or more) or similar.
JWT_SECRET_KEY=d0778770372aaac517d14465f7b998ed729c41ed3bd3f1d90737835924191e52
JWT_AUDIENCE=cherry-auctions-web
JWT_EXPIRY=3600
COOKIE_SECURE=true
DOMAIN=localhost:3000

# Google reCaptcha secret
RECAPTCHA_SECRET=

# AWS SDK v2 Credentials for the S3 bucket
# Base and usePathStyle is needed if you use a different S3 provider
AWS_ACCESS_KEY_ID=testacccesskey
AWS_SECRET_ACCESS_KEY=testsecretkey
AWS_SESSION_TOKEN=
AWS_S3_BASE=http://cherry-auctions-rustfs:9000
AWS_S3_USE_PATH_STYLE=true
AWS_BUCKET_NAME=cherry-auctions

# SMTP for sending emails
SMTP_HOST=cherry-auctions-mailpit
SMTP_PORT=1025
SMTP_USER=test@example.com
SMTP_PASSWORD=test
