name: CherryAuctions CI/CD

permissions:
  contents: write

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    name: Lint Commits
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Don't truncate commits

      - uses: wagoid/commitlint-github-action@v6
        name: Commitlint

      # - name: Setup pnpm
      #   uses: pnpm/action-setup@v4
      #   with:
      #     run_install: false # Tell PNPM not to install before we setup Node
      #     version: latest
      #
      # - name: Setup Node
      #   uses: actions/setup-node@v5
      #   with:
      #     node_version: latest
      #     cache: pnpm
      #
      # - name: Setup Linters
      #   run: pnpm i
      #
      # - name: Validate current commit (last commit) with commitlint
      #   if: github.event_name == 'push'
      #   run: pnpx commitlint --last --verbose
      #
      # - name: Validate PR commits with commitlint
      #   if: github.event_name == 'pull_request'
      #   run: pnpx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

  # To be continued for when the project foundation, backend and frontend is setup.
